/*设置全屏容器*/
html, body {
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

/*头部搜索*/
.h {
    width: 100%;
    height: 45px;
    background: url(../img/header-bg.png);
    background-size: 100% 100%;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.h .icon_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    padding: 12px;
    background-position: -20px 0;
    /*让背景从内容开始平铺*/
    /*
    border-box 边框以外被裁剪(默认)
    padding-box 内边距以外被裁剪
    content-box 内容以外被裁剪
    */
    background-origin: content-box;
    background-clip: content-box;
}

.h .icon_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    padding: 12px;
    background-position: -60px 0;
    /*让背景从内容开始平铺*/
    background-origin: content-box;
    background-clip: content-box;

}

.h .in {
    width: 100%;
    height: 45px;
    padding: 0 45px;

}

.h .in input {
    width: 100%;
    height: 31px;
    margin-top: 7px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.h .in .icon_search {
    position: absolute;
    top: 0;
    margin-left: 4px;
    margin-top: 9px;
    width: 30px;
    height: 30px;
    padding: 3px;
    background-position: -59px -109px;
    background-origin: content-box;
    background-clip: content-box;
}

.btn_right {
    position: absolute;
    top: 0;
    right: 10px;
    width: 40px;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #e93b3d;
    display: none;
}

/*搜索提示*/
.searchTip {
    margin: 65px 0 0 15px;
    display: none;
}

.searchTip .tipHeader {
    margin-bottom: 5px;
}

.searchTip .tipBody span {
    overflow: hidden;
    float: left;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    margin-right: 10px;
}

.searchTip .tipBody span a {
    height: 23px;
    line-height: 23px;
    padding: 2px 13px;
    background-color: #f0f2f5;
    border-radius: 3px;
    font-size: 12px;
}

.searchTip .tipBody span:nth-child(1) a {
    color: #e93b3d;
}

.searchTip .tipBody span:nth-child(2) a {
    color: #e93b3d;
}

.searchTip .tipBody span:nth-child(3) a {
    color: #e93b3d;
}
/*内容区域*/
.content{
    width: 100%;
    height: 100%;
    padding-top: 45px;
    padding-bottom: 40px;
}
/*内容区域左侧栏*/
.content .content_left{
    float: left;
    width: 85px;
    height: 100%;
    background-color: #f8f8f8;
    overflow: hidden;
}
.content .content_left ul{
    width: 85px;
}
.content .content_left ul li{
    width: 85px;
    height: 43px;
    line-height: 43px;
    background-color: #f8f8f8;
    text-align: center;
    font-size: 14px;
}
.content .content_left ul li a{
    display: block;
}
.content .content_left .now{
    background-color: white;
    border-right: 1px solid #f8f8f8;
}
.content .content_left .now a{
    color: #e93b3d;
}
/*内容区域右侧栏*/
.content .content_right{
    height: 100%;
    background-color: white;
    overflow: hidden;
}
.content .content_right .content_right_box .right_box_item{
    margin: 19px 7px 0 7px;
}
.content .content_right .content_right_box:last-child{
    padding-bottom: 30px;
}
.content .content_right .content_right_box .right_box_item ul{
    margin-top: 9px;
    padding: 7px 10px 0 10px;

}
.content .content_right .content_right_box .right_box_item ul li{
    width: 33.3333%;
    float: left;
    text-align: center;
    display: block;
}
.content .content_right .content_right_box .right_box_item ul li a img{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 320px){
    .content .content_right .content_right_box .right_box_item ul li a img{
        width: 60px;
        height: 60px;
        display: block;
    }
}

.content .content_right .content_right_box .right_box_item ul li a span{
    color: #333;
    height: 35px;
    margin-top: 2px;
    display: block;
    font-size: 12px;

}
/* ===== 底部导航 ===== */
.nav_bottom{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
}
.nav_bottom .bottom_box{
    width: 100%;
    height: 40px;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 1px #CCCCCC;
}
.nav_bottom ul{
    width: 100%;
    text-align: center;
}
.nav_bottom ul li{
    width: 20%;
    margin: 0 auto;
    float: left;
}
.nav_bottom ul li a{
    display: block;
}
.nav_bottom ul li a img{
    width: 50px;
    height: 40px;
}
